pyrogram
tgcrypto
asyncpg
flask
python-dotenv
pillow
aiocron
pymongo[srv]==4.3.3
pymongo
pyrofork
TgCrypto-pyrofork
pillow
aiocron
pillow
pymongo[srv]==4.3.3
pyrofork
pyrogram
TgCrypto-pyrofork
psycopg[binary]
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
